.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    height: 50px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 15px;  ;
}


